<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /peru-sismico/
    RewriteRule ^/peru-sismico/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /peru-sismico/index.html [L]
  </IfModule>