<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /perusismico/
    RewriteRule ^/perusismico/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /perusismico/index.html [L]
  </IfModule>